<!DOCTYPE html>
<html lang="en"  style="zoom: 100%;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistance Services Kiosk</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/csmc_logo.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- Sweetalert2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <!-- Include jQuery Easing Plugin -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body >
 
  <header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu menu-to-top">
      <ul>
        <li><a id="sidebar-home" class="nav-link scrollto"><i class="ri-home-2-line"></i> <span>Home</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
    <!-- Logo -->
    <img src="/assets/img/csmc_logo.png" style="width:15%;position:fixed;top:0;left:0;z-index: 0;">
  </header><!-- End Header -->
  

  <!-- ======= Mobile nav toggle button ======= -->

  <!-- ======= Hero Section ======= -->
  <section id="landingPage" class="align-items-center" style='  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("/assets/img/bg12.jpg") top center;
  background-size: cover;
  background-blend-mode: lighten;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
           ' >
   
    <div class="container position-relative " data-aos="fade-up" data-aos-delay="100"  >
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">          
          <img src="/assets/img/logo.png" style="width:100%">
        </div>
      </div>
     
      <div class="portfolio-details-slider swiper">
        <div class="swiper-wrapper align-items-center">

          <div class="swiper-slide"> 
            <div class="container services" data-aos="fade-up">   
              <div class="row icon-boxes cards">  
                    

                  <div id="doctorDir-link" class="col-lg-3 col-md-6 align-items-stretch card-services" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                      <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                          <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                        </svg>
                        <i class="ri-team-line"></i>
                      </div>
                      <h4 class="title">Doctor's Directory</h4>
                      <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                    </div>
                  </div>


                    <div  id="runnginBill-link" class="col-lg-3 col-md-6 align-items-stretch card-services " data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box iconbox-blue">
                        <div class="icon">
                          <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                          </svg>
                          <i class="ri-list-check"></i>
                        </div>
                        <h4 class="title">Running Bill</h4>
                        <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                      </div>
                    </div>
                
                    
                   
                    <div class="col-lg-3 col-md-6 align-items-stretch card-services" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box iconbox-teal">
                        <div class="icon">
                          <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                          </svg>
                          <i class="ri-service-fill"></i>
                        </div>
                        <h4 class="title-coming-soon">Coming Soon</h4>
                        <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch card-services" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box iconbox-teal"  >
                        <div class="icon">
                          <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                          </svg>
                          <i class="ri-map-fill"></i>
                        </div>
                        <h4 class="title-coming-soon"  >Coming Soon </h4>
                        <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                      </div>
                    </div>
                  
                  

                    
                    
              </div>
            </div>
          </div>


          <div class="swiper-slide"> 
            <div class="container services" data-aos="fade-up">   
              <div class="row icon-boxes cards">  
                    
                    <div  class="col-lg-3 col-md-6 align-items-stretch card-services" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box iconbox-teal">
                        <div class="icon">
                          <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                          </svg>
                          <i class="ri-settings-2-line"></i>
                        </div>
                        <h4 class="title-coming-soon">Coming Soon</h4>
                        <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                      </div>
                    </div>
                
                    
              </div>

            
            </div>
          </div>

      

        </div>
        <br>
        <br>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section><!-- End Hero -->

 <!-- ======= Doctors Directory Section ======= -->
 <section id="portfolio" class="portfolio" style='background: url("/assets/img/bg14.jpg") top center;'>
  <div>
    <div class="sidebar-wrapper" id="sidebarDiv">
      <div class="sidebar">
          <h6 class="sidebar-title"></h6>
          
          <div class="col-lg-12 dedication ">
            <form id="subForm">
              <div class="sub-filter" id = "subSpecialtyFilter">
              
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-up" style="overflow:auto">

      <div class="section-title">
        <h2>Doctor's Directory</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      -->
      </div>
      <div class="container" data-aos="fade-up" style="margin-bottom:25px;margin-top:-25px;" >
        <div class="col-lg-12 d-flex justify-content-center" style="margin-bottom:5px;">
          <div id="searchDoctorDiv" class="search-bar__wrapper">
            <div class="search-input__wrapper">
              <input type="text" id="searchDoctor" class="search-input use-keyboard-input" placeholder="Search for... Name, Specialty, Subspecialty, Secretary, HMO's or Room">
            </div>
            <button id="search-icon" type="button">
              <i class="ri-search-2-line"></i> Search
            </button>
            <button  class="btnAll">
              All Specializations
          </button>
          </div>
        
          
        </div>
      </div>
     
      
      <div class="row" data-aos="fade-up" >
          <div class="col-lg-12" style="padding:10px">
            <form id="myForm">
              <div class="middle-filter" id="filterSpecialty">
                
              </div>
            </form>
          </div>
      </div>
    
      <div class="container-fluid"  data-aos="fade-up">
        <div class="row">
          <div class="col-md-2">
            <h5>Affiliated Payors   &nbsp; 
                
              <button id="eventUncheckHMO" class="btn-transparent " onclick="eventUnCheckHMO()"  >
                <i class="ri-filter-off-fill"></i>
              </button>
          </h5>
          <form id="sidebarPayor">
            <div class="side-payors" style="overflow:auto;height:70vh;">
              <button id="search-icon" type="button">
                <i class="ri-search-2-line"></i> 
              </button>
             
            </div>
          </form>
          </div>
          <div class="col-md-9" >
            <div class='row' id="physicians-container" style="overflow:auto;height:70vh;">
             
          
              <div class="docs col-lg-12 col-md-6 portfolio-item align-items-stretch filter-app" >
                <div class="doc-member" style=" display: flex;
                align-items: center;background-color: transparent ;
                justify-content: center;border:none;">
                    <div class="spinner-container">
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                </div>
              </div><!-- End docs Member -->

            </div>
          </div>
          <div  class="col-md-1"> 

          </div>
        </div>
      </div>
    </div> 
  </div>
 </section><!-- End Doctors Directory Section -->

  
  <!-- ======= Running Bill Section ======= -->
  <section  id="runningBill" class="services" style='margin-top: 20px;margin-bottom: 30px;background: url("/assets/img/bg14.jpg") top center;height:100vh'>
    <div class="container" data-aos="fade-up" id="runningbillLogin"  >
      <div class="section-title">
        <h2>Running bill</h2>
     
      </div>
        <!-- <div class="card border-light-subtle shadow-sm " > -->
          <div class="row justify-content-center border-light-subtle shadow-sm" style='height:75vh;'>
            <div class="col-12 col-md-6 text-bg-rbill" style='
            background: linear-gradient(rgba(128, 0, 0, 0.8), rgba(128, 0, 0, 0.8)), url("/assets/img/bg2_pattern.jpg") top center;
            background-blend-mode: multiply;
            backdrop-filter: blur(10px);'>
              <div class="align-items-center justify-content-center h-100">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="col-10 col-xl-8 py-3">
                    <h2 class="h1 mb-4">Inpatient Portal</h2>
                    <p class="lead m-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 " style='background: url("/assets/img/bg-blur.png") top center;'>
              <div class="p-3 p-md-4 p-xl-5">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5">
                      <h3>Log in <i class="ri-login-circle-line"></i></h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <form id="validateMobileNumber">
                    <div class="row gy-3 gy-md-4 overflow-hidden">
                      <!-- Step 1: Enter Mobile Number -->
                      <div class="col-12 step step-active" id="step-1">
                          <label for="mobilenumber" class="form-label">Enter your mobile number:</label>
                          <input class ="form-control" type="text" maxlength="11"  name="mobilenumber" id="mobilenumber" placeholder="Mobile - 11 Digits (Format: 09XXXXXXXXX)"  pattern="09\d{9}" required>
                          <div class="d-grid">
                              <button class="btn bsb-btn-xl btn-danger" type="button" id="validate-number">Submit</button>
                          </div>
                        
                          <div class="error" id="error-message" style="color: red; display: none;">Please enter a valid 11-digit mobile number starting with 09.</div>
                      </div>
                      
                      <!-- Step 2: Enter OTP -->
                      <div class="co l-12 step" id="step-2" style="display: none;">
                          <div class="text-center">
                             
                              <div>
                                <span>A 6-digit code has been sent.</span>
                                <h6>Please enter the one-time password<br>to verify <small><span id="maskedNumber">*******9897</span></small></h6>
                              </div>
                              <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="first" maxlength="1" /> 
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="second" maxlength="1" /> 
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="third" maxlength="1" /> 
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="fourth" maxlength="1" /> 
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="fifth" maxlength="1" />
                                  <input class="m-2 text-center form-control rounded otp-input" type="text" id="sixth" maxlength="1" />
                              </div>
                             
                          </div>
                          <div class="mt-auto d-grid">
                              <button class="btn bsb-btn-xl btn-danger btn-lg" type="button" id="verifyOTP" ">Verify</button>
                             <br><br><br><br>
                              <button class="btn bsb-btn-xl btn-light" type="button" id="resendOTP" onclick="showStep(1)">Resend OTP</button>
                              <button class="btn bsb-btn-xl btn-secondary" type="button" id="cancelOTP" onclick="showStep(1)">Cancel</button>
                          </div>
                      </div>
                      
                      <!-- Step 3: Sign In -->
                      <div class="col-12 step" id="step-3" style="display: none; ">
                        <div class="text-center">
                          <div class="checkmark">

                            <!-- SUCCESS -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                            <path class="path" fill="none" stroke="#34c759" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
                            c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
                            c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
                            <circle class="path" fill="none" stroke="#34c759" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                            <polyline class="path" fill="none" stroke="#34c759" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 
                            74.1,108.4 48.2,86.4 "/>

                            <circle class="spin" fill="none" stroke="#34c759" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>
                            </svg>

                          <!--FAILED NOTIF 
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                              <path class="path" fill="none" stroke="#ff3b30 " stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
                              c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
                              c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
                              <circle class="path" fill="none" stroke="#ff3b30 " stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                              <line class="path" fill="none" stroke="#ff3b30 " stroke-miterlimit="10" x1="55" y1="55" x2="106.2" y2="106.2"/>
                              <line class="path" fill="none" stroke="#ff3b30 " stroke-miterlimit="10" x1="55" y1="106.2" x2="106.2" y2="55"/>
                              <circle class="spin" fill="none" stroke="#ff3b30 " stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>
                            </svg>
                            -->
                        
                          </div>
                          <h2>Verification successful! <br> Signing in</h2><br>
                        </div>
                      </div>
                  </div>
                  
                  
                  
                  
                  </form>
                </div>
              </div>
              
            </div>
          </div>
          
        <!-- </div> -->
    </div> <!--end fo container-->
    <br>
    
    <div id="runningBillTable" class="container-fluid" data-aos="fade-up" style="background-color: transparent;height:75vh;margin-top:35px;">
      <div class="row">
        <div class="col-md-10 border bg-light" style="padding:30px;">
            <div class="p-3 ">
              <div class="row">
                <div class="col-lg-4">
                  <p class="card-title"><strong>Name:</strong> <span id="rbTable_name">--</span></p>
                  <p><strong>Date of Birth:</strong> <span id="rbTable_bdate">--</span></p>
                
              </div>
              <div class="col-lg-4">
                  <p class="card-title"><strong>Medical Record No:</strong> <span id="rbTable_mrn">--</span></p>
                  <p><strong>Patient Number:</strong> <span id="rbTable_patientnum">--</span> </p>
              </div>
              <div class="col-lg-4">
                  <p class="card-title"><strong>Admission Date:</strong> <span id="rbTable_admission">--</span></p>
                  <p><strong>Room:</strong> <span id="rbTable_room">--</span></p>
                </div>
              </div>
                
            </div>
        </div>
        <div class="col-md-2">
          <div class="p-3 border bg-light">
            <h5 id="idLeCountdown">Timer:</h5>

            <button type="button" class="btn btn-danger" onclick="runninBillLogout()"><i class="ri-logout-circle-r-line"></i> Logout</button>

          </div>
        </div>
      </div>
      <div><br></div>
      <!-- Row 1 -->
      <div class="row">
        <div class="col-md-2" style="overflow:auto;height:65vh">
          <div class="p-3 border bg-light">
              <h5 class="text-center mb-4">Notes!</h5>
              <div id="infoNotes"></div>
            
            
          </div>
        </div>
        <div class="col-md-7" id='billingDetailsTable' style="overflow: auto;height:65vh">
          
          
        </div>
       
        <div class="col-md-3">
            <div class="card text-center"  >
        
              <div class="card-body bg-light" id="BalAmountDue" style="padding:40px;border-radius: 20px;">
              
              </div>

          
            </div>
            <br>
            <div class="card text-center">
        
              <div class="card-body bg-light" id="BalAmountCharges" style="padding:40px;border-radius: 20px;">
              
              </div>

          
            </div>
        </div>
          
        </div>
      </div>

  
   
    </div>





  </section><!-- End Running ill Section -->
 
<!-- Link to SweetAlert JavaScript -->


  
  <!-- ======= Products and Services ======= -->
  <section id="productAndServices" class="services">
    <div class="container-fluid" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Products and Services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
              </svg>
              <i class="bx bxl-dribbble"></i>
            </div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
              </svg>
              <i class="bx bx-file"></i>
            </div>
            <h4><a href="">Sed Perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
              </svg>
              <i class="bx bx-tachometer"></i>
            </div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
              </svg>
              <i class="bx bx-layer"></i>
            </div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
              </svg>
              <i class="bx bx-slideshow"></i>
            </div>
            <h4><a href="">Dele Cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
              </svg>
              <i class="bx bx-arch"></i>
            </div>
            <h4><a href="">Divera Don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Products and Services Section -->
   
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/assets.js"></script>
 
  <!-- Sweetelaert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

  <!-- MD5 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>


  <!-- main -->

  <script src="/assets/js/doctorDir.js"></script>
  <script src="/assets/js/onEvent.js"></script>
  <script src="/assets/js/runningBill.js"></script>


<script>    

  $(document).ready(function () {

     // Click event on the document to close all displays
     $(document).on('click', function(event) {
        // Check if the click was not on the radio buttons or their descendants,
        // and not on the button or its descendants
        if (
            (!$(event.target).closest('input[type="radio"][name="radioSpecialty"]').length &&
                    !$(event.target).closest('#myForm').length 
                    &&   !$(event.target).closest('#sidebarDiv').length 
            ) || ( !$(event.target).closest('#searchDoctorDiv') && !$(event.target).closest('#searchDoctor') )

          ) 
          {
              
            if($(event.target).closest('#searchDoctorDiv').length){

               close_sidebar();
               
             }
             if( (!$(event.target).closest('input[type="radio"][name="radioSpecialty"]').length &&
                    !$(event.target).closest('#myForm').length 
                    &&   !$(event.target).closest('#sidebarDiv').length 
            ) ){
             
              close_sidebar(); 
             }

             if(!$(event.target).closest('#searchDoctorDiv').length && !$(event.target).closest('.keyboard').length){
              closeKeyboard();   
              //toggleSearch();
             }
             
         }
         

      });

   
  


      //  Initial Actions/Process
      $(".sidebar-wrapper").hide();
      getHMOs(); 
      getInitialLoading();
    
      goTo('#landingPage');
      $('.resume-item .container-header .trigCol').click(function() {
        $(this).parent().siblings('.resume-item-content').toggle();
      });

     
      $('#multiSelectDropdown').on('click', function (event) {
          event.stopPropagation();
      });
      $('#SpmultiSelectDropdown').on('click', function (event) {
          event.stopPropagation();
      });
      $('#multiSelectDropdown').on('change', function () {
          var selectedValues = [];
          $('input[type="checkbox"]:checked').each(function () {
              selectedValues.push($(this).next('label').text());
          });
         
      });

      $('#SpmultiSelectDropdown').on('change', function () {
          var selectedValues = [];
          $('input[type="checkbox"]:checked').each(function () {
              selectedValues.push($(this).next('label').text());
          });
          
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })


         // hide billing table
         $('#runningBillTable').css('display', 'none');
    // Define response object with details array
      // var response = {
      //   details: [
      //     {
      //       "_id": "66800e0c201dfc1a65fbdd0f",
      //       "visitid": "000000900708",
      //       "primaryKey": "5fd99f8d9d934ef68f7e3724",
      //       "firstname": "CARL JOEL",
      //       "fullname": "DE LARA, CARL JOEL",
      //       "contactno": "09985412557",
      //       "dateofbirth": "09/20/1982",
      //       "admissionDate": "06/08/2024",
      //       "mrn": "MRN00014091"
      //     }
      //   ]
      // };
      // billingDetails(response);
  });

  

  
</script>
</body>

</html>